openapi: 3.1.0
info:
  title: API Reference
  version: '1.0'
  description: |-
    Orb's API is built with the following principles in mind:

    1. **Predictable developer experience**: Where applicable, the Orb API uses industry-standard patterns such as cursor-based pagination and standardized error output. To help with debugging in critical API actions, the API always strives to provide detailed and actionable error messages. Aliases such as external customer IDs aid in fast integration times.
    2. **Reliably real time**: Orb's event-based APIs, such as event ingestion are designed to handle extremely high throughput and scale with concurrent load. Orb also provides a real-time event-level credits ledger and a highly performant webhooks architecture.
    3. **Flexibility at the forefront**: Features like timezone localization and the ability to amend historical usage show the flexible nature of the platform.
  contact:
    email: team@withorb.com
    url: https://www.withorb.com/
    name: Orb, Inc.
  termsOfService: https://www.withorb.com/terms
  summary: Orb powers usage-based billing for the fastest-growing software companies.
servers:
  - url: https://api.billwithorb.com/v1
    description: Production server
paths:
  /ingest:
    post:
      summary: Ingest events
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                x-examples:
                  example-1:
                    duplicate: []
                    ingested: []
                    validation_failed:
                      - idempotency_key: materialize-sample-event-90
                        validation_errors:
                          - '{''a'': ''us-east-1''} is not of type ''number'', ''string'', ''boolean'''
                properties:
                  debug:
                    type: object
                    description: Optional debug information (only present when debug=true is passed to the endpoint). Contains ingested and duplicate event idempotency keys.
                    minProperties: 0
                    maxProperties: 0
                    properties:
                      duplicate:
                        type: array
                        items:
                          type: string
                      ingested:
                        type: array
                        items:
                          type: string
                  validation_failed:
                    type: array
                    uniqueItems: true
                    minItems: 1
                    description: Contains all failing validation events. In the case of a 200, this array will always be empty. This field will always be present.
                    items:
                      type: object
                      properties:
                        idempotency_key:
                          type: string
                          minLength: 1
                          description: The passed idempotency_key corresponding to the validation_errors
                        validation_errors:
                          type: array
                          description: An array of objects corresponding to validation failures for each idempotency_key.
                          items:
                            type: object
                required:
                  - validation_failed
              examples:
                Successful ingestion:
                  value:
                    validation_failed: []
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  debug:
                    type: object
                    description: Optional debug information (only present when debug=true is passed to the endpoint). Contains ingested and duplicate event idempotency keys.
                    properties:
                      duplicate:
                        type: array
                        items:
                          type: string
                      ingested:
                        type: array
                        items:
                          type: string
                  validation_failed:
                    type: array
                    description: Contains all failing validation events. In the case of a 400, there will be at least one entry in this array.
                    items:
                      type: object
                      properties:
                        idempotency_key:
                          type: string
                        validation_errors:
                          type: array
                          description: An array of objects corresponding to validation failures for each idempotency_key.
                          items:
                            type: string
                required:
                  - validation_failed
              examples:
                Validation failure:
                  value:
                    validation_failed:
                      - idempotency_key: 9MWjqKUG9saHtWew
                        validation_errors:
                          - Event idempotency_key 9MWjqKUG9saHtWew is a duplicate,but the current request does not match the previous request
                      - idempotency_key: gZkWyHjbNRUXSDxJ
                        validation_errors:
                          - Event idempotency_key gZkWyHjbNRUXSDxJ is a duplicate,but the current request does not match the previous request
                      - idempotency_key: AEocrVaAeu73YZ9E
                        validation_errors:
                          - Event idempotency_key AEocrVaAeu73YZ9E is a duplicate,but the current request does not match the previous request
                      - idempotency_key: WQck5u83uSigyrWQ
                        validation_errors:
                          - Event idempotency_key WQck5u83uSigyrWQ is a duplicate,but the current request does not match the previous request
      operationId: post-ingest
      x-speakeasy-name-override: ingest
      description: |-
        Orb's event ingestion model and API is designed around two core principles:

        1. **Data fidelity**: The accuracy of your billing model depends on a robust foundation of events. Orb's API protocol encourages usage patterns that ensure that your data is consistently complete and correct.
        2. **Fast integration**: Sending events into Orb requires no tedious setup steps or explicit field schema for your event shape, making it instant to start streaming in usage in real-time.


        ## Event shape

        Events are the starting point for all usage calculations in the system, and are simple at their core:

        ```json
        {
          // customer_id and external_customer_id are used to
          // attribute usage to a given Customer. Exactly one of these
          // should be specified in a given ingestion event.

          // `customer_id` is the Orb generated identifier for the Customer,
          // which is returned from the Create Customer API call.
          customer_id: string,

          // external_customer_id is an alternate identifier which is associated
          // with a Customer at creation time. This is treated as an alias for
          // customer_id, and is usually set to an identifier native to your system.
          external_customer_id: string,

          // A string name identifying the event, usually a usage
          // action. By convention, this should not contain any whitespace.
          event_name: string,

          // An ISO 8601 format date with no timezone offset.
          // This should represent the time that usage occurred
          // and is important to attribute usage to a given
          // billing period. See the notes below on determining the timestamp.
          // e.g. 2020-12-09T16:09:53Z
          timestamp: string,

          // A unique value, generated by the client, that is
          // used to de-duplicate events.
          // Exactly one event with a given
          // idempotency key will be ingested, which allows for
          // safe request retries.
          idempotency_key: string

          // Optional custom metadata to attach to the event.
          // This might include a numeric value used for aggregation,
          // or a string/boolean value used for filtering.
          // The schema of this dictionary need not be pre-declared, and
          // properties can be added at any time.
          properties: {
            [key: string]?: string | number | boolean,
          },
        }
        ```

        ## Required fields
        Because events streamed to Orb are meant to be as flexible as possible, there are only a few required fields in every event.

        - We recommend that `idempotency_key` are unique strings that you generated with V4 UUIDs, but only require that they uniquely identify an event (i.e. don’t collide).
        - The `timestamp` field in the event body will be used to determine which billable period a given event falls into. For example, with a monthly billing cycle starting from the first of December, Orb will calculate metrics based on events that fall into the range `12-01 00:00:00 <= timestamp < 01-01 00:00:00`.

        ## Logging metadata

        Orb allows tagging events with metadata using a flexible properties dictionary. Since Orb does not enforce a rigid schema for this field-set, key-value pairs can be added dynamically as your events evolve.

        This dictionary can be helpful for a wide variety of use cases:

        - Numeric properties on events like `compute_time_ms` can later be inputs to our flexible query engine to determine usage.
        - Logging a region or cluster with each event can help you provide customers more granular visibility into their usage.

        We encourage logging this metadata with an eye towards future use cases to ensure full coverage for historical data. The datatype of the value in the properties dictionary is important for metric creation from an event source. Values that you wish to numerically aggregate should be of numeric type in the event.


        ## Determining event timestamp
        For cases where usage is being reported in real time as it is occurring, timestamp should correspond to the time that usage occurred.

        In cases where usage is reported in aggregate for a historical timeframe at a regular interval, we recommend setting the event `timestamp` to the midpoint of the interval. As an example, if you have an hourly reporter that sends data once an hour for the previous hour of usage, setting the `timestamp` to the half-hour mark will ensure that the usage is counted within the correct period.

        Note that other time-related fields (e.g. time elapsed) can be added to the properties dictionary as necessary.

        In cases where usage is reported in aggregate for a historical timeframe, the timestamp must be within the grace period set for your account. Events with `timestamp < current_time - grace_period` will not be accepted as a valid event, and will throw validation errors. Enforcing the grace period enables Orb to accurately map usage to the correct billing cycle and ensure that all usage is billed for in the corresponding billing period.

        ## Event validation

        Orb’s validation ensures that you recognize errors in your events as quickly as possible, and the API provides informative error messages to help you fix problems quickly.

        We validate the following:

        - Exactly one of `customer_id` and `external_customer_id` should be specified.
        - If specified, `customer_id` must identify a Customer resource within Orb. We do not support sending events for customers that have not been provisioned. Similarly, if specified, `external_customer_id` must be an identifier that is associated with an Orb Customer resource. Note: During our initial integration period, this enforcement will be temporarily turned into a warning to ensure smooth customer migration.
        - `timestamp` must conform to ISO 8601 and represent a timestamp at most 1 hour in the future. This timestamp should be sent in UTC timezone (no timezone offset).

        ## Idempotency and retry semantics

        Orb's idempotency guarantees allow you to implement safe retry logic in the event of network or machine failures, ensuring data fidelity. Each event in the request payload is associated with an idempotency key, and Orb guarantees that a single idempotency key will be successfully ingested at most once.

        - Successful responses return a 200 HTTP status code. The response contains information about previously processed events.
        - Requests that return a `4xx` HTTP status code indicate a payload error and contain at least one event with a validation failure. An event with a validation failure can be re-sent to the ingestion endpoint (after the payload is fixed) with the original idempotency key since that key is not marked as processed.
        - Requests that return a `5xx` HTTP status code indicate a server-side failure. These requests should be retried in their entirety.


        ## API usage and limits
        The ingestion API is designed made for real-time streaming ingestion and architected for high throughput. Even if events are later deemed unnecessary or filtered out, we encourage you to log them to Orb if they may be relevant to billing calculations in the future.

        To take advantage of the real-time features of the Orb platform and avoid any chance of dropped events by producers, we recommend reporting events to Orb frequently. Optionally, events can also be briefly aggregated at the source, as this API accepts an array of event bodies.

        Orb does not currently enforce a hard rate-limit for API usage or a maximum request payload size, but please give us a heads up if you’re changing either of these factors by an order of magnitude from initial setup.

        ## Testing in debug mode
        The ingestion API supports a debug mode, which returns additional verbose output to indicate which event idempotency keys were newly ingested or duplicates from previous requests. To enable this mode, mark `debug=true` as a query parameter.

        If `debug=true` is not specified, the response will only contain `validation_failed`. Orb will still honor the idempotency guarantees set [here](https://docs.withorb.com/docs/orb-docs/event-ingestion#event-volume-and-concurrency) in all cases.

        We strongly recommend that you only use debug mode as part of testing your initial Orb integration. Once you're ready to switch to production, disable debug mode to take advantage of improved performance and maximal throughput.

        #### Example: ingestion response with `debug=true`

        ```json
        {
          "debug": {
            "duplicate": [], 
            "ingested": [
              "B7E83HDMfJPAunXW",
              "SJs5DQJ3TnwSqEZE",
              "8SivfDsNKwCeAXim"
            ]
          }, 
          "validation_failed": []
        }
        ```

        #### Example: ingestion response with `debug=false`

        ```json
        {
          "validation_failed": []
        }
        ```
      requestBody:
        content:
          application/json:
            schema:
              description: ''
              type: object
              x-examples: {}
              properties:
                events:
                  type: array
                  uniqueItems: true
                  minItems: 1
                  items:
                    type: object
                    properties:
                      idempotency_key:
                        type: string
                        minLength: 1
                        description: A unique value, generated by the client, that is used to de-duplicate events. Exactly one event with a given idempotency key will be ingested, which allows for safe request retries.
                      external_customer_id:
                        type: string
                        minLength: 1
                        description: An alias for the Orb customer, whose mapping is specified when creating the customer
                      customer_id:
                        type: string
                        description: The Orb Customer identifier
                      event_name:
                        type: string
                        minLength: 1
                        description: A name to meaningfully identify the action or event type.
                      properties:
                        type: object
                        description: A dictionary of custom properties. Values in this dictionary must be numeric, boolean, or strings. Nested dictionaries are disallowed.
                        minProperties: 1
                      timestamp:
                        type: string
                        minLength: 1
                        description: An ISO 8601 format date with no timezone offset (i.e. UTC). This should represent the time that usage was recorded, and is particularly important to attribute usage to a given billing period.
                        example: '2020-12-09T16:09:53Z'
                    required:
                      - idempotency_key
                      - event_name
                      - properties
                      - timestamp
              required:
                - events
            examples:
              Successful Ingestion:
                value:
                  events:
                    - customer_id: 6urAfP3eqHso3a2k
                      event_name: payment_processed
                      timestamp: '2022-05-11T21:33:13.1652304793Z'
                      idempotency_key: fQp2wSmK7CF9oPcu
                      properties:
                        amount: 100
                    - customer_id: 6urAfP3eqHso3a2k
                      event_name: payment_processed
                      timestamp: '2022-05-11T21:33:13.1652304793Z'
                      idempotency_key: 8h5rSNYgYj5ngws7
                      properties:
                        amount: 100
        description: ''
      tags:
        - Event
      parameters:
        - schema:
            type: string
            enum:
              - 'true'
              - 'false'
            default: 'false'
          in: query
          name: debug
          description: Flag to enable additional debug information in the endpoint response
    parameters: []
  /customers:
    get:
      summary: List customers
      tags:
        - Customer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                x-examples:
                  example-1:
                    data:
                      - billing_address: null
                        created_at: '2022-04-02T07:16:00+00:00'
                        email: sujay-api-test-2@test.com
                        external_customer_id: sujay-api-test-2
                        id: J6j5TtH7NeKDmCKM
                        name: sujay-api-test 2
                        payment_provider: null
                        payment_provider_id: null
                        shipping_address: null
                        timezone: America/Los_Angeles
                      - billing_address: null
                        created_at: '2022-04-02T07:02:18+00:00'
                        email: sujay-api-creation-test@gmail.com
                        external_customer_id: sujay-api-creation-test
                        id: 3c7ye996r6oaQAHW
                        name: sujay api creation test
                        payment_provider: null
                        payment_provider_id: null
                        shipping_address: null
                        timezone: America/Los_Angeles
                      - billing_address: null
                        created_at: '2022-03-31T23:55:59+00:00'
                        email: test@test.com
                        external_customer_id: null
                        id: KbNRQQ3uRjwqVHCo
                        name: Child plan Creation test
                        payment_provider: null
                        payment_provider_id: null
                        shipping_address: null
                        timezone: America/Los_Angeles
                      - billing_address: null
                        created_at: '2022-03-31T23:23:39+00:00'
                        email: sujay-harrison-non-first-bcd-test@gmail.com
                        external_customer_id: sujay-harrison-non-first-bcd-test
                        id: i9WqeaKzZCnvdYpk
                        name: sujay-harrison-non-first-bcd-test
                        payment_provider: null
                        payment_provider_id: null
                        shipping_address: null
                        timezone: America/Los_Angeles
                      - billing_address: null
                        created_at: '2022-03-31T21:35:10+00:00'
                        email: kshitijsujay-test2@gmail.com
                        external_customer_id: kshitijsujay-test2
                        id: k76RFwfcyuykWRsA
                        name: kshitijsujay test2
                        payment_provider: null
                        payment_provider_id: null
                        shipping_address: null
                        timezone: America/Los_Angeles
                      - billing_address: null
                        created_at: '2022-03-31T21:31:16+00:00'
                        email: sujaykshitij@test.com
                        external_customer_id: sujaykshitij-test
                        id: 2oKpTtSxcWby4NPf
                        name: sujaykshitij test
                        payment_provider: null
                        payment_provider_id: null
                        shipping_address: null
                        timezone: America/Los_Angeles
                      - billing_address: null
                        created_at: '2022-03-31T16:35:15+00:00'
                        email: future-sujay@gmail.com
                        external_customer_id: future-sujay
                        id: muaLnSH3W9HShrwi
                        name: Future Sujay
                        payment_provider: null
                        payment_provider_id: null
                        shipping_address: null
                        timezone: America/Los_Angeles
                      - billing_address: null
                        created_at: '2022-03-31T06:41:11+00:00'
                        email: sujay-non-first@bcd.test
                        external_customer_id: sujay-non-first-bcd-test
                        id: EoYFThcx8PL7PbaU
                        name: Sujay NonFirst BCD Test
                        payment_provider: null
                        payment_provider_id: null
                        shipping_address: null
                        timezone: America/Los_Angeles
                      - billing_address: null
                        created_at: '2022-03-25T23:06:26+00:00'
                        email: real@test.com
                        external_customer_id: real-in-arrear-test
                        id: WwioHRm6xKBJZFc8
                        name: The Real In-Arrear Test
                        payment_provider: null
                        payment_provider_id: null
                        shipping_address: null
                        timezone: America/Los_Angeles
                      - billing_address: null
                        created_at: '2022-03-25T23:00:47+00:00'
                        email: sujay-real-in-arrear@test.com
                        external_customer_id: sujay-real-in-arrear
                        id: bXY2QtivPUMTZoXn
                        name: Sujay-Real In Arrear Test
                        payment_provider: null
                        payment_provider_id: null
                        shipping_address: null
                        timezone: America/Los_Angeles
                      - billing_address: null
                        created_at: '2022-03-25T22:54:32+00:00'
                        email: sujay-inarrear@sujay.com
                        external_customer_id: sujay-inarrear
                        id: 2i9uPdxE9CD7Xhof
                        name: Sujay InArrear Test
                        payment_provider: null
                        payment_provider_id: null
                        shipping_address: null
                        timezone: America/Los_Angeles
                      - billing_address: null
                        created_at: '2022-03-25T17:51:23+00:00'
                        email: sujay-minimum@sujay.com
                        external_customer_id: sujay-minimum
                        id: f54AJtLCjZmpRx8P
                        name: SujayMinimumTest
                        payment_provider: null
                        payment_provider_id: null
                        shipping_address: null
                        timezone: America/Los_Angeles
                      - billing_address: null
                        created_at: '2022-03-23T22:36:11+00:00'
                        email: dupe@dupe.com
                        external_customer_id: sujay-sub-test
                        id: 6gzTmS44o2sdU5bN
                        name: Sujay KBCreateSubDupe Test
                        payment_provider: null
                        payment_provider_id: null
                        shipping_address: null
                        timezone: America/Los_Angeles
                      - billing_address: null
                        created_at: '2022-03-22T21:33:12+00:00'
                        email: test@test.com
                        external_customer_id: sujay-same-day-cancel
                        id: RLBMpizTWSs8r97N
                        name: Sujay SameDay Immediate
                        payment_provider: null
                        payment_provider_id: null
                        shipping_address: null
                        timezone: America/Los_Angeles
                      - billing_address: null
                        created_at: '2022-03-22T01:54:44+00:00'
                        email: testcustomer@withorb.com
                        external_customer_id: null
                        id: bvvZyrTycYQ7F4eq
                        name: Test customer in trial
                        payment_provider: null
                        payment_provider_id: null
                        shipping_address: null
                        timezone: America/Los_Angeles
                      - billing_address: null
                        created_at: '2022-03-21T23:58:55+00:00'
                        email: sujay@immediatecancel.com
                        external_customer_id: sujayimmediate
                        id: aRkBNCZ8b8Raj5BR
                        name: Sujay Immediate Cancel Test
                        payment_provider: null
                        payment_provider_id: null
                        shipping_address: null
                        timezone: America/Los_Angeles
                      - billing_address: null
                        created_at: '2022-03-08T23:05:20+00:00'
                        email: team@withorb.com
                        external_customer_id: null
                        id: 6Cq3WrLP3uwgTbCC
                        name: Hourly Deductions QA
                        payment_provider: null
                        payment_provider_id: null
                        shipping_address: null
                        timezone: America/Los_Angeles
                      - billing_address: null
                        created_at: '2022-03-04T22:27:16+00:00'
                        email: harrison@withorb.com
                        external_customer_id: null
                        id: WJpamEbeScjbTb2i
                        name: Trial Customer
                        payment_provider: null
                        payment_provider_id: null
                        shipping_address: null
                        timezone: America/Los_Angeles
                      - billing_address: null
                        created_at: '2022-03-02T21:27:02+00:00'
                        email: team@withorb.com
                        external_customer_id: null
                        id: WDZ7iFWY2nT37s3q
                        name: Test Cancel And Create
                        payment_provider: null
                        payment_provider_id: null
                        shipping_address:
                          city: San Jose
                          country: US
                          line1: 2910 Cryptocon Way
                          line2: null
                          postal_code: null
                          state: CA
                        timezone: America/Los_Angeles
                      - billing_address: null
                        created_at: '2022-02-25T18:37:35+00:00'
                        email: harrison@withorb.com
                        external_customer_id: no-sub-update
                        id: CZ67xXX252NYUmha
                        name: Update Customer
                        payment_provider: null
                        payment_provider_id: null
                        shipping_address: null
                        timezone: America/Los_Angeles
                    pagination_metadata:
                      has_more: true
                      next_cursor: bqyABXeP3c6aTi6S
                properties:
                  data:
                    type: array
                    uniqueItems: true
                    minItems: 0
                    items:
                      $ref: '#/components/schemas/Customer'
                    readOnly: true
                  pagination_metadata:
                    type: object
                    required:
                      - has_more
                      - next_cursor
                    properties:
                      has_more:
                        type: boolean
                      next_cursor:
                        type: string
                        minLength: 1
                required:
                  - data
                  - pagination_metadata
      operationId: list-customers
      description: |-


        This endpoint returns a list of all customers for an account. The list of customers is ordered starting from the most recently created customer. This endpoint follows Orb's [standardized pagination format](../docs/Pagination.md).

        See [Customer](../reference/Orb-API.json/components/schemas/Customer) for an overview of the customer model.
    post:
      summary: Create customer
      operationId: post-customers
      x-speakeasy-usage-example: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Customer'
        description: 'Create a new customer.'
      tags:
        - Customer
      description: |-
        This operation is used to create an Orb customer, who is party to the core billing relationship. See [Customer](../reference/Orb-API.json/components/schemas/Customer) for an overview of the customer resource.

        This endpoint is critical in the following Orb functionality:
        * Automated charges can be configured by setting `payment_provider` and `payment_provider_id` to automatically issue invoices
        * [Customer ID Aliases](../docs/Customer-ID-Aliases.md) can be configured by setting `external_customer_id`
        * [Timezone localization](../docs/Timezone-localization.md) can be configured on a per-customer basis by setting the `timezone` parameter
    parameters: []
  /customers/{customer_id}:
    parameters:
      - schema:
          type: string
        name: customer_id
        in: path
        required: true
        description: Orb customer ID
    put:
      summary: Update customer
      operationId: put-customers-customer_id
      x-speakeasy-name-override: update
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer'
      description: |-
        This endpoint can be used to update the `payment_provider`, `payment_provider_id`, `name`, `email`, `shipping_address`, and `billing_address` of an existing customer.

        Other fields on a customer are currently immutable.
      tags:
        - Customer
      requestBody:
        content:
          application/json:
            schema:
              type: object
              description: The external payments or invoicing solution connected to this customer.
              properties:
                payment_provider:
                  type: string
                  nullable: true
                  description: |-
                    This is used for creating charges or invoices in an external system via Orb. When not in test mode:
                    - the connection must first be configured in the Orb webapp. 
                    - if the provider is an invoicing provider (`stripe_invoice`, `quickbooks`, `bill.com`), any product mappings must first be configured with the Orb team.
                  enum:
                    - stripe_invoice
                    - quickbooks
                    - bill.com
                    - stripe_charge
                    - null
                payment_provider_id:
                  type: string
                  nullable: true
                  description: The ID of this customer in an external payments solution, such as Stripe. This is used for creating charges or invoices in the external system via Orb.
                name:
                  type: string
                email:
                  type: string
                  description: A valid customer email, to be used for invoicing and notifications.
                billing_address:
                  type: object
                  nullable: true
                  description: The customer's billing address; all fields in the address are optional. This address appears on customer invoices.
                  properties:
                    city:
                      type: string
                    country:
                      type: string
                      description: Two-letter country code (ISO 3166-1 alpha-2).
                      example: US
                    line1:
                      type: string
                    line2:
                      type: string
                    postal_code:
                      type: string
                      description: ZIP or postal code
                    state:
                      type: string
                shipping_address:
                  type: object
                  nullable: true
                  description: The customer's shipping address; all fields in the address are optional. Note that downstream tax calculations are based on the shipping address.
                  properties:
                    city:
                      type: string
                    country:
                      type: string
                      description: Two-letter country code (ISO 3166-1 alpha-2).
                      example: US
                    line1:
                      type: string
                    line2:
                      type: string
                    postal_code:
                      type: string
                      description: ZIP or postal code
                    state:
                      type: string
        description: ''
    get:
      summary: Retrieve a customer
      operationId: get-customers-customer_id
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer'
              examples:
                example-1:
                  value:
                    id: UFHPn8Es9sctYH5k
                    name: Moon Microsystems, Inc.
                    email: larry@moon.com
                    timezone: America/New_York
                    payment_provider_id: cus_81fz2febyT2iMk
                    payment_provider: stripe
                    created_at: '2021-07-30T17:10:08.000000'
      description: |-
        This endpoint is used to fetch customer details given an identifier.

        See the [Customer resource](Orb-API.json/components/schemas/Customer) for a full discussion of the Customer model.
      tags:
        - Customer
  /ping:
    get:
      summary: Check availability
      tags:
        - Availability
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  response:
                    type: string
                    minLength: 1
                required:
                  - response
                x-examples:
                  example-1:
                    response: pong
              examples:
                Successful ping response:
                  value:
                    response: pong
                Invalid authorization:
                  value:
                    code: authorization_header_invalid
                    description: Invalid API Key
      operationId: get-ping
      x-speakeasy-name-override: ping
      description: |-
        This endpoint allows you to test your connection to the Orb API and check the validity of your API key, passed in the `Authorization` header. This is particularly useful for checking that your environment is set up properly, and is a great choice for connectors and integrations.

        This API does not have any side-effects or return any Orb resources.
      parameters: []
  /customers/{customer_id}/credits:
    parameters:
      - schema:
          type: string
        name: customer_id
        in: path
        required: true
        description: The Orb Customer ID
    get:
      summary: Retrieve credit balance
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                x-examples:
                  example-1:
                    data:
                      - balance: 1.472228333333333
                        expiry_date: null
                        id: Pqe5m4sACcZRHjaw
                        per_unit_cost_basis: null
                    pagination_metadata:
                      has_more: false
                      next_cursor: null
                properties:
                  data:
                    type: array
                    uniqueItems: true
                    minItems: 0
                    items:
                      type: object
                      properties:
                        balance:
                          type: number
                          description: Remaining credits in this block
                        expiry_date:
                          type: string
                          nullable: true
                          description: An ISO 8601 format date with a timezone offset that represents when this block of credits is no longer usable.
                          example: '2022-12-28T08:00:00+00:00'
                          format: date-time
                        id:
                          type: string
                          minLength: 1
                        per_unit_cost_basis:
                          type: string
                          nullable: true
                          description: How much, in USD, a customer paid for a single credit in this block
                      required:
                        - balance
                        - expiry_date
                        - id
                        - per_unit_cost_basis
                  pagination_metadata:
                    type: object
                    required:
                      - has_more
                    properties:
                      has_more:
                        type: boolean
                      next_cursor:
                        type: string
                required:
                  - data
                  - pagination_metadata
              examples:
                Example:
                  value:
                    data:
                      - balance: 5
                        expiry_date: '2021-12-05T00:00:00+00:00'
                        id: jdus8ldncms4g7js
                        per_unit_cost_basis: '0.20'
                      - balance: 10
                        expiry_date: null
                        id: 8fdu10odp13fjncD
                        per_unit_cost_basis: null
                    pagination_metadata:
                      has_more: true
                      next_cursor: string
      operationId: get-customers-customer_id-credits
      x-speakeasy-name-override: get-credits
      description: |-
        This [paginated endpoint](docs/Pagination.md) can be used to fetch the current state of credit balance for the specified `customer_id`.

        Orb keeps track of credit balances in _credit blocks_, where each block is optionally associated with an `expiry_date`. Each time credits are added, a new credit block is created. Credits which do not expire have an `expiry_date` of `null`. To aid in revenue recognition, credit blocks can optionally have a `per_unit_cost_basis`, to indicate how much in USD a customer paid for a single credit in a block.

        Orb only returns _unexpired_ credit blocks in this response. For credits that have already expired, you can view this deduction from the customer's balance in the [Credit Ledger](../reference/Orb-API.json/paths/~1customers~1{customer_id}~1credits~1ledger/get) response.
      tags:
        - Credits
  /customers/{customer_id}/costs:
    parameters:
      - schema:
          type: string
        name: customer_id
        in: path
        required: true
        description: The Orb Customer ID
    get:
      summary: View customer costs
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                x-examples:
                  example-1:
                    data:
                      - balance: 1.472228333333333
                        expiry_date: null
                        id: Pqe5m4sACcZRHjaw
                        per_unit_cost_basis: null
                    pagination_metadata:
                      has_more: false
                      next_cursor: null
                properties:
                  data:
                    type: array
                    uniqueItems: true
                    minItems: 0
                    items:
                      type: object
                      properties:
                        subtotal:
                          type: string
                          description: Total costs for the timeframe, excluding minimums and discounts.
                        total:
                          type: string
                          description: Total costs for the timeframe, including minimums and discounts.
                        timeframe_start:
                          type: string
                          format: date-time
                        timeframe_end:
                          type: string
                          format: date-time
                        per_price_costs:
                          type: array
                          items:
                            type: object
                            description: Price's contributions for the timeframe, excluding any transforms (minimums and discounts).
                            properties:
                              subtotal:
                                type: string
                                description: Price's contributions for the timeframe, excluding any minimums and discounts.
                              total:
                                type: string
                                description: Price's contributions for the timeframe, including any minimums and discounts.
                              price:
                                $ref: '#/components/schemas/Price'
                              price_groups:
                                type: array
                                description: If a `group_by` attribute is passed in, array of costs per `grouping_key`, `grouping_value` or `secondary_grouping_key`, `secondary_grouping_value`.
                                items:
                                  type: object
                                  properties:
                                    grouping_key:
                                      type: string
                                      description: Grouping key to break down a single price's costs
                                    grouping_value:
                                      type: string
                                    secondary_grouping_key:
                                      type: string
                                      description: If the price is a matrix price, this is the second dimension key
                                    secondary_grouping_value:
                                      type: string
                                    total:
                                      type: string
                                      description: Total costs for this group for the timeframe. Note that this does not account for any minimums or discounts.
                                  required:
                                    - grouping_key
                                    - grouping_value
                                    - total
                            required:
                              - price_groups
                      required:
                        - subtotal
                        - total
                        - timeframe_start
                        - timeframe_end
                        - per_price_costs
                  pagination_metadata:
                    type: object
                    x-sl-internally-excluded: true
                    x-sl-error-message: You do not have permission to view this reference
                required:
                  - data
                  - pagination_metadata
              examples:
                Example:
                  value:
                    data:
                      - subtotal: '50.00'
                        total: '100.00'
                        timeframe_start: '2023-05-01T00:00:00Z'
                        timeframe_end: '2023-05-02T00:00:00Z'
                        per_price_costs:
                          - subtotal: '23.00'
                            total: '50.00'
                            price:
                              billable_metric:
                                id: dUmCTVBzan14PeDs
                              cadence: monthly
                              created_at: '2021-07-18T15:45:03.0000+00:00'
                              id: RtpDt57Uug2mJeNK
                              model_type: unit
                              name: Usage Fee
                              unit_config:
                                unit_amount: '100.00'
                              plan_phase_order: null
                            price_groups:
                              - grouping_key: cluster
                                grouping_value: us-east-1
                                total: '15'
                              - grouping_key: cluster
                                grouping_value: us-west-2
                                total: '2'
                              - grouping_key: cluster
                                grouping_value: ap-south-1
                                total: '6'
                    pagination_metadata:
                      has_more: true
                      next_cursor: string
      operationId: get-customer-costs
      x-speakeasy-name-override: get-costs
      description: |
        This endpoint is used to fetch a day-by-day snapshot of a customer's costs in Orb, calculated by applying pricing information to the underlying usage (see the [subscription usage endpoint](../reference/Orb-API.json/paths/~1subscriptions~1{subscription_id}~1usage/get) to fetch usage per metric, in usage units rather than a currency). 

        This endpoint can be leveraged for internal tooling and to provide a more transparent billing experience for your end users:

        1. Understand the cost breakdown per line item historically and in real-time for the current billing period. 
        2. Provide customer visibility into how different services are contributing to the overall invoice with a per-day timeseries (as compared to the [upcoming invoice](../reference/Orb-API.json/paths/~1invoices~1upcoming/get) resource, which represents a snapshot for the current period).
        3. Assess how minimums and discounts affect your customers by teasing apart costs directly as a result of usage, as opposed to minimums and discounts at the plan and price level.
        4. Gain insight into key customer health metrics, such as the percent utilization of the minimum committed spend.

        ## Fetching subscriptions
        By default, this endpoint fetches the currently active subscription for the customer, and returns cost information for the subscription's current billing period, broken down by each participating price. If there are no currently active subscriptions, this will instead default to the most recently active subscription or return an empty series if none are found. For example, if your plan charges for compute hours, job runs, and data syncs, then this endpoint would provide a daily breakdown of your customer's cost for each of those axes.

        If timeframe bounds are specified, Orb fetches all subscriptions that were active in that timeframe. If two subscriptions overlap on a single day, costs from each price will be summed, and prices for both subscriptions will be included in the breakdown.


        ## Prepaid plans
        For plans that include prices which deduct credits rather than accrue in-arrears charges in a billable currency, this endpoint will return the total deduction amount, in credits, for the specified timeframe. 


        ## Cumulative subtotals and totals

        Since the subtotal and total must factor in any billing-period level discounts and minimums, it's most meaningful to consider costs relative to the start of the subscription's billing period. As a result, by default this endpoint returns cumulative totals since the beginning of the billing period. In particular, the `timeframe_start` of a returned timeframe window is *always* the beginning of the billing period and `timeframe_end` is incremented one day at a time to build the result.

        A customer that uses a few API calls a day but has a minimum commitment might exhibit the following pattern for their subtotal and total in the first few days of the month. Here, we assume that each API call is $2.50, the customer's plan has a monthly minimum of $50 for this price, and that the subscription's billing period bounds are aligned to the first of the month:

        | timeframe_start | timeframe_end | Cumulative usage | Subtotal | Total (incl. commitment)  |
        | -----------| ----------- | ----------- | ----------- |----------- |
        | 2023-02-01 | 2023-02-02 | 9 | $22.50 | $50.00 |
        | 2023-02-01 | 2023-02-03 | 19 | $47.50 | $50.00 |
        | 2023-02-01 | 2023-02-04 | 20 | $50.00 | $50.00 |
        | 2023-02-01 | 2023-02-05 | 28 | $70.00 | $70.00 |
        | 2023-02-01 | 2023-02-06 | 36 | $90.00 | $90.00 |


        ### Periodic values
        When the query parameter `view_mode=periodic` is specified, Orb will return an incremental day-by-day view of costs. In this case, there will always be a one-day difference between `timeframe_start` and `timeframe_end` for the timeframes returned. This is a transform on top of the cumulative costs, calculated by taking the difference of each timeframe with the last. Note that in the above example, the `Total` value would be 0 for the second two data points, since the minimum commitment has not yet been hit and each day is not contributing anything to the total cost.

        ## Timeframe bounds
        If no timeframe bounds are specified, the response will default to the current billing period for the customer's subscription. For subscriptions that have ended, this will be the billing period when they were last active. If the subscription starts or ends within the timeframe, the response will only include windows where the subscription is active.
         
        As noted above, `timeframe_start` for a given cumulative datapoint is always the beginning of the billing period, and `timeframe_end` is incremented one day at a time to construct the response. When a timeframe is passed in that is not aligned to the current subscription's billing period, the response will contain cumulative totals from multiple billing periods.

        Suppose the queried customer has a subscription aligned to the 15th of every month. If this endpoint is queried with the date range `2023-06-01` - `2023-07-01`, the first data point will represent about half a billing period's worth of costs, accounting for accruals from the start of the billing period and inclusive of the first day of the timeframe (`timeframe_start = 2023-05-15 00:00:00`, `timeframe_end = 2023-06-02 00:00:00`)

        | datapoint index | timeframe_start | timeframe_end |
        | ----------- | -----------| ----------- |
        | 0 | 2023-05-15 | 2023-06-02 |
        | 1 | 2023-05-15 | 2023-06-03 |
        | 2 | ... | ... |
        | 3 | 2023-05-15 | 2023-06-14 |
        | 4 | 2023-06-15 | 2023-06-16 |
        | 5 | 2023-06-15 | 2023-06-17 |
        | 6 | ... | ... |
        | 7 | 2023-06-15 | 2023-07-01 |

        You can see this sliced timeframe visualized [here](https://i.imgur.com/TXhYgme.png).

        ## Grouping by custom attributes
        In order to view costs grouped by a specific _attribute_ that each event is tagged with (i.e. `cluster`), you can additionally specify a `group_by` key. The `group_by` key denotes the event property on which to group.

        When returning grouped costs, a separate `price_group` object in the `per_price_costs` array is returned for each value of the `group_by` key present in your events. The `subtotal` value of the `per_price_costs` object is the sum of each `price_group`'s total. 

        Orb expects events will contain values in the `properties` dictionary that correspond to the `group_by` key specified. By default, Orb will return a `null` group (i.e. events that match the metric but do not have the key set). Currently, it is only possible to view costs grouped by a single attribute at a time.

        ### Matrix prices
        When a price uses matrix pricing, it's important to view costs grouped by those matrix dimensions. Orb will return `price_groups` with the `grouping_key` and `secondary_grouping_key` based on the matrix price definition, for each `grouping_value` and `secondary_grouping_value` available.
      tags:
        - Customer
      parameters:
        - schema:
            type: string
            format: date-time
            example: '2022-02-01T05:00:00Z'
          in: query
          name: timeframe_start
          description: Costs returned are inclusive of `timeframe_start`.
        - schema:
            type: string
            example: '2022-03-01T05:00:00Z'
          in: query
          name: timeframe_end
          description: Costs returned are exclusive of `timeframe_end`.
        - schema:
            type: string
            enum:
              - periodic
              - cumulative
            default: cumulative
          in: query
          name: view_mode
          description: Controls whether Orb returns cumulative costs since the start of the billing period, or incremental day-by-day costs. If your customer has minimums or discounts, it's strongly recommended that you use the default cumulative behavior.
        - schema:
            type: string
          in: query
          name: group_by
          description: Groups per-price costs by the key provided.
  /customers/external_customer_id/{external_customer_id}/costs:
    parameters:
      - schema:
          type: string
        name: external_customer_id
        in: path
        required: true
    get:
      summary: View customer costs by external customer ID
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                x-examples:
                  example-1:
                    data:
                      - balance: 1.472228333333333
                        expiry_date: null
                        id: Pqe5m4sACcZRHjaw
                        per_unit_cost_basis: null
                    pagination_metadata:
                      has_more: false
                      next_cursor: null
                properties:
                  data:
                    type: array
                    uniqueItems: true
                    minItems: 0
                    items:
                      type: object
                      properties:
                        subtotal:
                          type: string
                          description: Total costs for the timeframe, excluding minimums and discounts.
                        total:
                          type: string
                          description: Total costs for the timeframe, including minimums and discounts.
                        timeframe_start:
                          type: string
                          format: date-time
                        timeframe_end:
                          type: string
                          format: date-time
                        per_price_costs:
                          type: array
                          items:
                            type: object
                            description: Price's contributions for the timeframe, excluding any transforms (minimums and discounts).
                            properties:
                              subtotal:
                                type: string
                                description: Price's contributions for the timeframe, excluding any minimums and discounts.
                              total:
                                type: string
                                description: Price's contributions for the timeframe, including any minimums and discounts.
                              price:
                                $ref: '#/components/schemas/Price'
                              price_groups:
                                type: array
                                description: If a `group_by` attribute is passed in, array of costs per `grouping_key`, `grouping_value` or `secondary_grouping_key`, `secondary_grouping_value`.
                                items:
                                  type: object
                                  properties:
                                    grouping_key:
                                      type: string
                                      description: Grouping key to break down a single price's costs
                                    grouping_value:
                                      type: string
                                    secondary_grouping_key:
                                      type: string
                                      description: If the price is a matrix price, this is the second dimension key
                                    secondary_grouping_value:
                                      type: string
                                    total:
                                      type: string
                                      description: Total costs for this group for the timeframe. Note that this does not account for any minimums or discounts.
                                  required:
                                    - grouping_key
                                    - grouping_value
                                    - total
                            required:
                              - price_groups
                      required:
                        - subtotal
                        - total
                        - timeframe_start
                        - timeframe_end
                        - per_price_costs
                  pagination_metadata:
                    type: object
                    x-sl-internally-excluded: true
                    x-sl-error-message: You do not have permission to view this reference
                required:
                  - data
                  - pagination_metadata
              examples:
                example-1:
                  value:
                    data:
                      - subtotal: '50.00'
                        total: '100.00'
                        timeframe_start: '2023-05-01T00:00:00Z'
                        timeframe_end: '2023-05-02T00:00:00Z'
                        per_price_costs:
                          - subtotal: '23.00'
                            total: '50.00'
                            price:
                              billable_metric:
                                id: dUmCTVBzan14PeDs
                              cadence: monthly
                              created_at: '2021-07-18T15:45:03.0000+00:00'
                              id: RtpDt57Uug2mJeNK
                              model_type: unit
                              name: Usage Fee
                              unit_config:
                                unit_amount: '100.00'
                              plan_phase_order: null
                            price_groups:
                              - grouping_key: cluster
                                grouping_value: us-east-1
                                total: '15'
                              - grouping_key: cluster
                                grouping_value: us-west-2
                                total: '2'
                              - grouping_key: cluster
                                grouping_value: ap-south-1
                                total: '6'
                    pagination_metadata:
                      has_more: true
                      next_cursor: string
      operationId: get-external-customer-costs
      x-speakeasy-name-override: get-costs-by-external-id
      description: This endpoint's resource and semantics exactly mirror [View customer costs](../reference/Orb-API.json/paths/~1customers~1{customer_id}~1costs/get) but operates on an [external customer ID](../docs/Customer-ID-Aliases.md) rather than an Orb issued identifier.
      tags:
        - Customer
      parameters:
        - schema:
            type: string
            format: date-time
            example: '2022-02-01T05:00:00Z'
          in: query
          name: timeframe_start
          description: Costs returned are inclusive of `timeframe_start`.
        - schema:
            type: string
            example: '2022-03-01T05:00:00Z'
          in: query
          name: timeframe_end
          description: Costs returned are exclusive of `timeframe_end`.
        - schema:
            type: string
            enum:
              - periodic
              - cumulative
            default: cumulative
          in: query
          name: view_mode
          description: Controls whether Orb returns cumulative costs since the start of the billing period, or incremental day-by-day costs. If your customer has minimums or discounts, it's strongly recommended that you use the default cumulative behavior.
        - schema:
            type: string
          in: query
          name: group_by
          description: Groups per-price costs by the key provided.
  /customers/{customer_id}/credits/ledger:
    parameters:
      - schema:
          type: string
        name: customer_id
        in: path
        required: true
    get:
      summary: View credits ledger
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                x-examples:
                  example-1:
                    data:
                      - amount: 1
                        created_at: '2022-05-02T04:17:43+00:00'
                        credit_block:
                          expiry_date: null
                          id: 9adqfA7J7ddBkBJR
                          per_unit_cost_basis: null
                        customer:
                          external_customer_id: creditsqa_beta_monitor
                          id: 4QYWy9UbDY8yXKKd
                        description: null
                        ending_balance: 145
                        entry_status: pending
                        entry_type: decrement
                        event_id: 176710f7-5805-4f58-b7d6-075219cc1303
                        id: 552fa4e94c3136df
                        ledger_sequence_number: 276263
                        price_id: LUrV7Ha6soPcJLzQ
                        starting_balance: 146
                      - amount: 1
                        created_at: '2022-05-02T04:17:42+00:00'
                        credit_block:
                          expiry_date: null
                          id: akEtc9NR8ZYiHBUh
                          per_unit_cost_basis: null
                        customer:
                          external_customer_id: creditsqa_beta_monitor
                          id: 4QYWy9UbDY8yXKKd
                        description: null
                        ending_balance: 146
                        entry_status: pending
                        entry_type: increment
                        id: 15cc9146662e039b
                        ledger_sequence_number: 276262
                        starting_balance: 145
                      - amount: 1
                        created_at: '2022-05-02T04:16:43+00:00'
                        credit_block:
                          expiry_date: null
                          id: QFCG8zYHBmAR6CKr
                          per_unit_cost_basis: null
                        customer:
                          external_customer_id: creditsqa_beta_monitor
                          id: 4QYWy9UbDY8yXKKd
                        description: null
                        ending_balance: 145
                        entry_status: pending
                        entry_type: increment
                        id: 4eb9d4acec49e3bd
                        ledger_sequence_number: 276261
                        starting_balance: 144
                      - amount: 1
                        created_at: '2022-05-02T04:16:43+00:00'
                        credit_block:
                          expiry_date: null
                          id: YYtesfp4WFssCxfA
                          per_unit_cost_basis: null
                        customer:
                          external_customer_id: creditsqa_beta_monitor
                          id: 4QYWy9UbDY8yXKKd
                        description: null
                        ending_balance: 144
                        entry_status: pending
                        entry_type: decrement
                        event_id: d366a268-4ff1-437c-b2c8-8c06ac57197e
                        id: 87d2e7d79520c7c2
                        ledger_sequence_number: 276260
                        price_id: LUrV7Ha6soPcJLzQ
                        starting_balance: 145
                      - amount: 1
                        created_at: '2022-05-02T04:15:43+00:00'
                        credit_block:
                          expiry_date: null
                          id: XGefAv8kBAJyc5VR
                          per_unit_cost_basis: null
                        customer:
                          external_customer_id: creditsqa_beta_monitor
                          id: 4QYWy9UbDY8yXKKd
                        description: null
                        ending_balance: 145
                        entry_status: pending
                        entry_type: increment
                        id: 3b8ff9f70d80a2ce
                        ledger_sequence_number: 276259
                        starting_balance: 144
                      - amount: 1
                        created_at: '2022-05-02T04:15:43+00:00'
                        credit_block:
                          expiry_date: null
                          id: KUr8wWtVeQbEnbTv
                          per_unit_cost_basis: null
                        customer:
                          external_customer_id: creditsqa_beta_monitor
                          id: 4QYWy9UbDY8yXKKd
                        description: null
                        ending_balance: 144
                        entry_status: pending
                        entry_type: decrement
                        event_id: 57e5a2a6-6754-481a-aee0-ac855fa9ccdb
                        id: 5620cf601d57a57f
                        ledger_sequence_number: 276258
                        price_id: LUrV7Ha6soPcJLzQ
                        starting_balance: 145
                      - amount: 1
                        created_at: '2022-05-02T04:14:43+00:00'
                        credit_block:
                          expiry_date: null
                          id: QuguTSutyti7GrSG
                          per_unit_cost_basis: null
                        customer:
                          external_customer_id: creditsqa_beta_monitor
                          id: 4QYWy9UbDY8yXKKd
                        description: null
                        ending_balance: 145
                        entry_status: pending
                        entry_type: decrement
                        event_id: e6830cda-d1b3-4e6d-a320-3e85a3ac3fea
                        id: 8ca45b541b09adfd
                        ledger_sequence_number: 276257
                        price_id: LUrV7Ha6soPcJLzQ
                        starting_balance: 146
                      - amount: 1
                        created_at: '2022-05-02T04:14:42+00:00'
                        credit_block:
                          expiry_date: null
                          id: BWEzgfHcniDZsXb6
                          per_unit_cost_basis: null
                        customer:
                          external_customer_id: creditsqa_beta_monitor
                          id: 4QYWy9UbDY8yXKKd
                        description: null
                        ending_balance: 146
                        entry_status: pending
                        entry_type: increment
                        id: 146a70707b4bb2a7
                        ledger_sequence_number: 276256
                        starting_balance: 145
                      - amount: 1
                        created_at: '2022-05-02T04:13:43+00:00'
                        credit_block:
                          expiry_date: null
                          id: N5hbKRWWAoqwmUbC
                          per_unit_cost_basis: null
                        customer:
                          external_customer_id: creditsqa_beta_monitor
                          id: 4QYWy9UbDY8yXKKd
                        description: null
                        ending_balance: 145
                        entry_status: pending
                        entry_type: increment
                        id: f3179bbaae38df38
                        ledger_sequence_number: 276255
                        starting_balance: 144
                      - amount: 1
                        created_at: '2022-05-02T04:13:43+00:00'
                        credit_block:
                          expiry_date: null
                          id: hyLWazu4XdomEY2E
                          per_unit_cost_basis: null
                        customer:
                          external_customer_id: creditsqa_beta_monitor
                          id: 4QYWy9UbDY8yXKKd
                        description: null
                        ending_balance: 144
                        entry_status: pending
                        entry_type: decrement
                        event_id: b9efb1c1-86e4-40bd-ad45-30b732e2de29
                        id: 3e65b669fde09881
                        ledger_sequence_number: 276254
                        price_id: LUrV7Ha6soPcJLzQ
                        starting_balance: 145
                      - amount: 1
                        created_at: '2022-05-02T04:12:43+00:00'
                        credit_block:
                          expiry_date: null
                          id: ZwodVk8WYJZs8fbn
                          per_unit_cost_basis: null
                        customer:
                          external_customer_id: creditsqa_beta_monitor
                          id: 4QYWy9UbDY8yXKKd
                        description: null
                        ending_balance: 145
                        entry_status: pending
                        entry_type: increment
                        id: 14e780fa7e3cbaa8
                        ledger_sequence_number: 276253
                        starting_balance: 144
                      - amount: 1
                        created_at: '2022-05-02T04:12:43+00:00'
                        credit_block:
                          expiry_date: null
                          id: PdpW88cfXRPgVyJK
                          per_unit_cost_basis: null
                        customer:
                          external_customer_id: creditsqa_beta_monitor
                          id: 4QYWy9UbDY8yXKKd
                        description: null
                        ending_balance: 144
                        entry_status: pending
                        entry_type: decrement
                        event_id: 023b8916-6b78-4933-b183-e6fd0f400ccf
                        id: aa5e4a385e02e91a
                        ledger_sequence_number: 276252
                        price_id: LUrV7Ha6soPcJLzQ
                        starting_balance: 145
                      - amount: 1
                        created_at: '2022-05-02T04:11:44+00:00'
                        credit_block:
                          expiry_date: null
                          id: ZGcpQzBNZZTp4ZT8
                          per_unit_cost_basis: null
                        customer:
                          external_customer_id: creditsqa_beta_monitor
                          id: 4QYWy9UbDY8yXKKd
                        description: null
                        ending_balance: 145
                        entry_status: pending
                        entry_type: decrement
                        event_id: 31fe7ab2-8160-4867-99f5-d22798941169
                        id: 3850f841fefa9282
                        ledger_sequence_number: 276251
                        price_id: LUrV7Ha6soPcJLzQ
                        starting_balance: 146
                      - amount: 1
                        created_at: '2022-05-02T04:11:43+00:00'
                        credit_block:
                          expiry_date: null
                          id: E2G99sVowjFHZLek
                          per_unit_cost_basis: null
                        customer:
                          external_customer_id: creditsqa_beta_monitor
                          id: 4QYWy9UbDY8yXKKd
                        description: null
                        ending_balance: 146
                        entry_status: pending
                        entry_type: increment
                        id: 5549eab977aeb3db
                        ledger_sequence_number: 276250
                        starting_balance: 145
                      - amount: 1
                        created_at: '2022-05-02T04:10:43+00:00'
                        credit_block:
                          expiry_date: null
                          id: Gb69LXhk96eT8sRX
                          per_unit_cost_basis: null
                        customer:
                          external_customer_id: creditsqa_beta_monitor
                          id: 4QYWy9UbDY8yXKKd
                        description: null
                        ending_balance: 145
                        entry_status: pending
                        entry_type: increment
                        id: 928082907d8c9613
                        ledger_sequence_number: 276249
                        starting_balance: 144
                      - amount: 1
                        created_at: '2022-05-02T04:10:43+00:00'
                        credit_block:
                          expiry_date: null
                          id: mvhEtg6F9LQqqSHj
                          per_unit_cost_basis: null
                        customer:
                          external_customer_id: creditsqa_beta_monitor
                          id: 4QYWy9UbDY8yXKKd
                        description: null
                        ending_balance: 144
                        entry_status: pending
                        entry_type: decrement
                        event_id: 51cf1b7a-5bcf-4993-99cf-fb78b6cf1f2a
                        id: da9ec35d2609d865
                        ledger_sequence_number: 276248
                        price_id: LUrV7Ha6soPcJLzQ
                        starting_balance: 145
                      - amount: 1
                        created_at: '2022-05-02T04:09:43+00:00'
                        credit_block:
                          expiry_date: null
                          id: Ldoft3KRyfXCWKfE
                          per_unit_cost_basis: null
                        customer:
                          external_customer_id: creditsqa_beta_monitor
                          id: 4QYWy9UbDY8yXKKd
                        description: null
                        ending_balance: 145
                        entry_status: pending
                        entry_type: increment
                        id: dc60ba7ec949eaa2
                        ledger_sequence_number: 276247
                        starting_balance: 144
                      - amount: 1
                        created_at: '2022-05-02T04:09:43+00:00'
                        credit_block:
                          expiry_date: null
                          id: ZurJFrCRMUmjEmTk
                          per_unit_cost_basis: null
                        customer:
                          external_customer_id: creditsqa_beta_monitor
                          id: 4QYWy9UbDY8yXKKd
                        description: null
                        ending_balance: 144
                        entry_status: pending
                        entry_type: decrement
                        event_id: cb7baef5-d3b2-4f84-8f50-2c6e43ab3e43
                        id: 3582b00141532425
                        ledger_sequence_number: 276246
                        price_id: LUrV7Ha6soPcJLzQ
                        starting_balance: 145
                      - amount: 1
                        created_at: '2022-05-02T04:08:43+00:00'
                        credit_block:
                          expiry_date: null
                          id: cDKGeb7CTBAC797X
                          per_unit_cost_basis: null
                        customer:
                          external_customer_id: creditsqa_beta_monitor
                          id: 4QYWy9UbDY8yXKKd
                        description: null
                        ending_balance: 145
                        entry_status: pending
                        entry_type: increment
                        id: fe17161e482ec187
                        ledger_sequence_number: 276245
                        starting_balance: 144
                      - amount: 1
                        created_at: '2022-05-02T04:08:43+00:00'
                        credit_block:
                          expiry_date: null
                          id: ZhuvN9xkXtNQm8HW
                          per_unit_cost_basis: null
                        customer:
                          external_customer_id: creditsqa_beta_monitor
                          id: 4QYWy9UbDY8yXKKd
                        description: null
                        ending_balance: 144
                        entry_status: pending
                        entry_type: decrement
                        event_id: fc26d067-eb6a-45d3-be5f-ed97bac6ebf0
                        id: 2ff712cf297c2b06
                        ledger_sequence_number: 276244
                        price_id: LUrV7Ha6soPcJLzQ
                        starting_balance: 145
                    pagination_metadata:
                      has_more: true
                      next_cursor: 276243
                properties:
                  data:
                    type: array
                    uniqueItems: true
                    minItems: 1
                    items:
                      $ref: '#/components/schemas/Credit-ledger-entry'
                  pagination_metadata:
                    type: object
                    required:
                      - has_more
                      - next_cursor
                    properties:
                      has_more:
                        type: boolean
                      next_cursor:
                        type: string
                required:
                  - data
                  - pagination_metadata
              examples:
                Increment example:
                  value:
                    data:
                      - amount: 5
                        created_at: '2021-11-28T05:47:08+00:00'
                        credit_block:
                          expiry_date: '2022-03-15T00:00:00+00:00'
                          id: cjd9s0wodlspdmv2
                          per_unit_cost_basis: '0.20'
                        customer:
                          external_customer_id: external-customer-id
                          id: UFHPn8Es9sctYH5k
                        description: Spring promotion
                        ending_balance: 15
                        entry_status: committed
                        entry_type: increment
                        id: J83fdo09iklop2da
                        ledger_sequence_number: 12
                        starting_balance: 10
                    pagination_metadata:
                      has_more: true
                      next_cursor: string
                Automatic deduction example:
                  value:
                    data:
                      - amount: 4
                        created_at: '2021-11-28T05:47:08+00:00'
                        credit_block:
                          expiry_date: '2022-03-15T00:00:00+00:00'
                          id: cjd9s0wodlspdmv2
                          per_unit_cost_basis: '0.20'
                        customer:
                          external_customer_id: external-customer-id
                          id: UFHPn8Es9sctYH5k
                        description: null
                        ending_balance: 10
                        entry_status: committed
                        entry_type: decrement
                        event_id: b4b23dc4-50df-11ec-bf63-0242ac130002
                        id: 97s4cQaFNSdKMnV8
                        ledger_sequence_number: 13
                        price_id: 7uhde3qdfKil0pod
                        starting_balance: 14
                    pagination_metadata:
                      has_more: true
                      next_cursor: string
                Expiration change example:
                  value:
                    data:
                      - amount: 3
                        created_at: '2021-11-28T05:47:08+00:00'
                        credit_block:
                          expiry_date: '2022-03-15T00:00:00+00:00'
                          id: cjd9s0wodlspdmv2
                          per_unit_cost_basis: '0.20'
                        customer:
                          external_customer_id: external-customer-id
                          id: UFHPn8Es9sctYH5k
                        description: Extending trial
                        ending_balance: 14
                        entry_status: committed
                        entry_type: expiration_change
                        id: 97s4cQaFNSdKMnV8
                        ledger_sequence_number: 14
                        starting_balance: 14
                    pagination_metadata:
                      has_more: true
                      next_cursor: string
                Credit expiry example:
                  value:
                    data:
                      - amount: 4
                        created_at: '2021-11-28T00:01:00+00:00'
                        credit_block:
                          expiry_date: '2022-03-15T00:00:00+00:00'
                          id: cjd9s0wodlspdmv2
                          per_unit_cost_basis: '0.20'
                        customer:
                          external_customer_id: external-customer-id
                          id: UFHPn8Es9sctYH5k
                        description: null
                        ending_balance: 10
                        entry_status: committed
                        entry_type: credit_block_expiry
                        id: 97s4cQaFNSdKMnV8
                        ledger_sequence_number: 15
                        starting_balance: 14
                    pagination_metadata:
                      has_more: true
                      next_cursor: string
      operationId: get-customers-customer_id-credits-ledger
      x-speakeasy-name-override: get-credits-ledger
      description: |-
        The credits ledger provides _auditing_ functionality over Orb's credits system with a list of actions that have taken place to modify a customer's credit balance. This [paginated endpoint](../docs/Pagination.md) lists these entries, starting from the most recent ledger entry.

        More details on using Orb's real-time credit feature are [here](../docs/Credits.md).

        There are four major types of modifications to credit balance, detailed below.

        ## Increment
        Credits (which optionally expire on a future date) can be added via the API ([Add Ledger Entry](../reference/Orb-API.json/paths/~1customers~1{customer_id}~1credits~1ledger_entry/post)). The ledger entry for such an action will always contain the total eligible starting and ending balance for the customer at the time the entry was added to the ledger. 

        ## Decrement

        Deductions can occur as a result of an API call to create a ledger entry (see [Add Ledger Entry](../reference/Orb-API.json/paths/~1customers~1{customer_id}~1credits~1ledger_entry/post)), or automatically as a result of incurring usage. Both ledger entries present the `decrement` entry type.

        As usage for a customer is reported into Orb, credits may be deducted according to the customer's plan configuration. An automated deduction of this type will result in a ledger entry, also with a starting and ending balance. In order to provide better tracing capabilities for automatic deductions, Orb always associates each automatic deduction with the `event_id` at the time of ingestion, used to pinpoint _why_ credit deduction took place and to ensure that credits are never deducted without an associated usage event. 

        By default, Orb uses an algorithm that automatically deducts from the *soonest expiring credit block* first in order to ensure that all credits are utilized appropriately. As an example, if trial credits are present for a customer, they will be used before any deduction take place from non-expiring credits. 

        It's also possible for a single usage event's deduction to _span_ credit blocks. In this case, Orb will deduct from the next block, ending at the credit block which consists of unexpiring credits. Each of these deductions will lead to a _separate_ ledger entry, one per credit block that is deducted from. By default, the customer's total credit balance in Orb can be negative as a result of a decrement. 

        ## Expiration change

        The expiry of credits can be changed as a result of the API (See [Add Ledger Entry](../reference/Orb-API.json/paths/~1customers~1{customer_id}~1credits~1ledger_entry/post)). This will create a ledger entry that specifies the balance as well as the initial and target expiry dates. 

        Note that for this entry type, `starting_balance` will equal `ending_balance`, and the `amount` represents the balance transferred. The credit block linked to the ledger entry is the source credit block from which there was an expiration change.


        ## Credits expiry

        When a set of credits expire on pre-set expiration date, the customer's balance automatically reflects this change and adds an entry to the ledger indicating this event. Note that credit expiry should always happen close to a date boundary in the customer's timezone.
      parameters:
        - schema:
            type: string
            enum:
              - increment
              - decrement
              - expiration_change
              - credit_block_expiry
          in: query
          name: entry_type
          description: Filter to a single type of ledger entry
        - schema:
            type: number
          in: query
          name: minimum_amount
          description: Filter to ledger entries that affect at least this amount
        - schema:
            type: string
            enum:
              - committed
              - pending
          in: query
          name: entry_status
          description: Filters to a single status of ledger entry
      tags:
        - Credits
  /customers/{customer_id}/credits/ledger_entry:
    parameters:
      - schema:
          type: string
        name: customer_id
        in: path
        required: true
    post:
      summary: Add credit ledger entry
      operationId: post-customers-customer_id-credits-ledger_entry
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Credit-ledger-entry'
              examples:
                Increment example:
                  value:
                    amount: 100
                    created_at: '2022-05-05T17:17:06+00:00'
                    credit_block:
                      expiry_date: '2022-12-28T08:00:00+00:00'
                      id: 8EiAAQWdytmsV95s
                      per_unit_cost_basis: '0.20'
                    customer:
                      external_customer_id: external-customer-id
                      id: 9VJGi3JckeMWqjpP
                    description: Purchased 100 credits
                    ending_balance: 100
                    entry_type: increment
                    id: Nk7TXB8BTMM9j8Q2
                    starting_balance: 0
                    entry_status: pending
                    ledger_sequence_number: 1
                Decrement example:
                  value:
                    amount: 20
                    created_at: '2022-05-05T17:17:06+00:00'
                    credit_block:
                      expiry_date: '2022-12-28T08:00:00+00:00'
                      id: 8EiAAQWdytmsV95s
                      per_unit_cost_basis: '0.20'
                    customer:
                      external_customer_id: external-customer-id
                      id: 9VJGi3JckeMWqjpP
                    description: Removing excess credits
                    ending_balance: 80
                    entry_type: decrement
                    id: oK893rfghd38hjcN
                    starting_balance: 100
                    entry_status: pending
                    ledger_sequence_number: 2
                Expiration change example:
                  value:
                    amount: 10
                    created_at: '2022-05-05T18:17:06+00:00'
                    credit_block:
                      expiry_date: '2022-12-28T08:00:00+00:00'
                      id: 8EiAAQWdytmsV95s
                      per_unit_cost_basis: '0.20'
                    customer:
                      external_customer_id: external-customer-id
                      id: 9VJGi3JckeMWqjpP
                    description: Extending credit validity
                    ending_balance: 80
                    entry_type: expiration_change
                    id: 8UJhe6yhcE4fH3jD
                    starting_balance: 80
                    entry_status: pending
                    ledger_sequence_number: 3
      description: |-
        This endpoint allows you to create a new ledger entry for a specified customer's balance. This can be used to increment balance, deduct credits, and change the expiry date of existing credits.

        ## Effects of adding a ledger entry
        1. After calling this endpoint, [Fetch Credit Balance](../reference/Orb-API.json/paths/~1customers~1{customer_id}~1credits/get) will return a credit block that represents the changes (i.e. balance changes or transfers).
        2. A ledger entry will be added to the credits ledger for this customer, and therefore returned in the [View Credits Ledger](../reference/Orb-API.json/paths/~1customers~1{customer_id}~1credits~1ledger/get) response as well as serialized in the response to this request. In the case of deductions without a specified block, multiple ledger entries may be created if the deduction spans credit blocks.


        ## Adding credits
        Adding credits is done by creating an entry of type `increment`. This requires the caller to specify a number of credits as well as an optional expiry date in `YYYY-MM-DD` format. Orb also recommends specifying a description to assist with auditing. When adding credits, the caller can also specify a cost basis per-credit, to indicate how much in USD a customer paid for a single credit in a block. This can later be used for revenue recognition.

        The following snippet illustrates a sample request body to increment credits which will expire in January of 2022.

        ```json
        {
          "entry_type": "increment",
          "amount": 100,
          "expiry_date": "2022-12-28",
          "per_unit_cost_basis": "0.20",
          "description": "Purchased 100 credits"
        }
        ```

        Note that by default, Orb will always first increment any _negative_ balance in existing blocks before adding the remaining amount to the desired credit block.

        ## Deducting Credits
        Orb allows you to deduct credits from a customer by creating an entry of type `decrement`. Orb matches the algorithm for [Automatic Deductions](Orb-API.json/paths/~1customers~1{customer_id}~1credits~1ledger/get) for determining which credit blocks to decrement from. In the case that the deduction leads to multiple ledger entries, the response from this endpoint will be the final deduction. Orb also optionally allows specifying a description to assist with auditing.

        The following snippet illustrates a sample request body to decrement credits.

        ```json
        {
          "entry_type": "decrement",
          "amount": 20,
          "description": "Removing excess credits"
        }
        ```

        ## Changing credits expiry
        If you'd like to change when existing credits expire, you should create a ledger entry of type `expiration_change`. For this entry, the required parameter `expiry_date` identifies the _originating_ block, and the required parameter `target_expiry_date` identifies when the transferred credits should now expire. A new credit block will be created with expiry date `target_expiry_date`, with the same cost basis data as the original credit block, if present.

        Note that the balance of the block with the given `expiry_date` must be at least equal to the desired transfer amount determined by the `amount` parameter.

        The following snippet illustrates a sample request body to extend the expiration date of credits by one year:

        ```json
        {
          "entry_type": "expiration_change",
          "amount": 10,
          "expiry_date": "2022-12-28",
          "block_id": "UiUhFWeLHPrBY4Ad",
          "target_expiry_date": "2023-12-28",
          "description": "Extending credit validity"
        }
        ```
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                amount:
                  type: number
                entry_type:
                  type: string
                  enum:
                    - increment
                    - decrement
                    - expiration_change
                expiry_date:
                  type: string
                  example: '2023-01-01'
                  description: |+
                    A future date (specified in YYYY-MM-DD format) that denotes when this credit balance should expire.

                  format: date
                target_expiry_date:
                  type: string
                  description: A future date (specified in YYYY-MM-DD) used for `expiration_change`
                  example: '2023-02-01'
                  format: date
                description:
                  type: string
                  nullable: true
                  description: Optional metadata that can be specified when adding ledger results via the API. For example, this can be used to note an increment refers to trial credits, or for noting corrections as a result of an incident, etc.
                per_unit_cost_basis:
                  type: string
                  nullable: true
                  description: Can only be specified when `entry_type=increment`. How much, in USD, a customer paid for a single credit in this block
                block_id:
                  type: string
                  description: The ID of the block affected by an `expiration_change`
              required:
                - amount
                - entry_type
            examples:
              Increment example:
                value:
                  amount: 100
                  entry_type: increment
                  expiry_date: '2022-12-28'
                  per_unit_cost_basis: '0.20'
                  description: Purchased 100 credits
              Decrement example:
                value:
                  amount: 20
                  entry_type: decrement
                  description: Removing excess credits
              Expiration change example:
                value:
                  amount: 10
                  entry_type: expiration_change
                  expiry_date: '2022-12-28'
                  target_expiry_date: '2023-12-28'
                  description: Extending credit validity
[...]
